body {
    /* background-color: #eb8989; */
    text-align: center;
}

.title-page{
    padding: 2.5%;
}

.t-image{
    object-fit: fill;
    border-style: inset;
    border: 1px solid grey;
    border-radius: 5rem;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: 90%;
    padding: 2.5% ;
    display: inherit;
    position: relative;
    
    /* left: 2.5%; */
}

.top-info {
    color: rgb(53, 59, 44);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: ubuntu, cursive;
    padding-bottom: 7%;
}

.top-heading {
    font-size: 6rem;
    font-family: montserrat;
    font-weight: 700;
    color: white;
    padding: 0 0 0% 10%;
    text-align: left;
    text-shadow: 10px 8px 8px rgb(66, 15, 15);
}



.nav-link {
    text-decoration: solid; 
    color: rgb(233, 238, 234);
    font-size: 1.25rem;
}

.navbar{
    font-size: 2.5rem;
    font-family: Ubuntu;
    font-weight: 500;
    padding: 2% 0 0 0%;
    /* padding-bottom: 5%; */
}

.nav-item {
    padding: 0 0px;
}


.container-fluid {
    padding: 0 5% 2%;
}


/* img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: auto;
    height: auto;
    top: 20;
    left: 0;
}

@media screen and (max-width: 1024px) {
    img.bg {
        left: 50%;
        margin-left: -512px;
    }
} */

/*for desktop*/
.make-order{
    position: fixed;
    bottom:70px;
    right: 10%;
    color:#FFF;
    font-size: 1.25rem;
    font-weight: 600;

}


.pricing {
    background-color: white;
}

#pricing {
    padding: 3% 6% 2%;
        
}

.whatsapp-Icon {
    margin-top: 16px
 }
/*for mobile*/
@media screen and (max-width: 767px){
    .whatsapp-icon {
    margin-top:10px;
    }
    .whatsapp_float {
        width: 50px;
        height: 50px;
        bottom: 10%;
        right: 10%;
        font-size: 22px;
    }
}

#pricing{
    background-color:#FFF;
    padding: 5% 10%;
}


/* testimonials section */

#testimonial {
    background-color: #f1a8a8;
    max-height: max-content;
    
}

.carousel-inner{
    padding: 5% 15%;
}



.testimonial-image {
    width: 10%;
    margin: 3%;
    border-radius: 100%;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

/* footer section */
#footer {
    padding: 2% 20% 2%;
}


.footer-logo {
    padding: 0 10px;
}